<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.help.helpme.mapper.sys.SysTeamMapper">
  <resultMap id="BaseResultMap" type="com.help.helpme.entity.sys.SysTeam">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="flag_enabled" jdbcType="BIT" property="flagEnabled" />
    <result column="flag_delete" jdbcType="BIT" property="flagDelete" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, mobile, description, url, flag_enabled, flag_delete, create_by, update_by, 
    create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_team
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_team
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="com.help.helpme.entity.sys.SysTeam">
    insert into sys_team
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="flagEnabled != null">
        flag_enabled,
      </if>
      <if test="flagDelete != null">
        flag_delete,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="flagEnabled != null">
        #{flagEnabled,jdbcType=BIT},
      </if>
      <if test="flagDelete != null">
        #{flagDelete,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.help.helpme.entity.sys.SysTeam">
    update sys_team
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="flagEnabled != null">
        flag_enabled = #{flagEnabled,jdbcType=BIT},
      </if>
      <if test="flagDelete != null">
        flag_delete = #{flagDelete,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectAll" parameterType="com.help.helpme.entity.sys.SysCompany" resultMap="BaseResultMap">

    select
    <include refid="Base_Column_List" />
    from sys_team where 1=1
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="mobile != null">
        and mobile = #{mobile,jdbcType=VARCHAR}
      </if>
      <if test="description != null">
        and description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="url != null">
        and url = #{url,jdbcType=VARCHAR}
      </if>
      <if test="flagEnabled != null">
        and flag_enabled = #{flagEnabled,jdbcType=BIT}
      </if>
      <if test="flagDelete != null">
        and flag_delete = #{flagDelete,jdbcType=BIT}
      </if>
      <if test="createBy != null">
        and create_by = #{createBy,jdbcType=BIGINT}
      </if>
      <if test="updateBy != null">
        and update_by = #{updateBy,jdbcType=BIGINT}
      </if>
      <if test="createDate != null">
        and create_date = #{createDate,jdbcType=TIMESTAMP}
      </if>
      <if test="updateDate != null">
        and update_date = #{updateDate,jdbcType=TIMESTAMP}
      </if>

      <if test="search != null and search != ''">
        and (LOCATE(#{search,jdbcType=VARCHAR}, name)>0
        or LOCATE(#{search,jdbcType=VARCHAR}, mobile)>0
        or LOCATE(#{search,jdbcType=VARCHAR}, description)>0
        or LOCATE(#{search}, create_date)>0
        <if test="search == '启'.toString() or search == '用'.toString() or search == '启用'.toString()">
          or flag_enabled = 1
        </if>
        <if test="search == '禁'.toString() or search == '用'.toString() or search == '禁用'.toString()">
          or flag_enabled = 0
        </if>
        )
      </if>
    order by update_date desc
  </select>


  <!--批量删除-->
  <update id="deletes" parameterType="java.lang.String">
    update sys_team set flag_delete=1 where FIND_IN_SET(id,#{ids,jdbcType=VARCHAR});
  </update>

</mapper>